* { margin:0; padding:0; }

body {
  margin: 1em;
  color: #50c99d;
  font-size: 18px;
  /* text-shadow: 0 0 .8em #8F7; */
  font-weight: 500;
  font-family: "Courier";
  background-color: #000A0E;
  background: rgba(0,10,14,1);
}

.container {  
  display: grid;
  grid-template-columns: 0.2fr 1.7fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "social Main Main Main";
}

.social { 
  grid-area: Social;
  position: absolute;
  bottom: 2em;

}

.Main { 
  grid-area: Main; 
 
}


#result {
  position: absolute;
  bottom: 1em;
  width: 90%;
  border-right: 1px solid green ;
}

#cursor {
	-webkit-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
	color: #51796A;
  font-family: "Courier";
  font-weight: 500;
	}

ul a svg {
    width: 20px;
    height: 20px;
    color:#50c99d;
    margin-bottom: 10px;
}

ul a svg:hover {
  color:#ffffff;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #51796A;
    font-weight: 500;
    font-family: "Courier";
	}
}

@-webkit-keyframes "blink" {
	from, to {
		color: transparent;
		}
	50% {
		color: #51796A;
    font-weight: 500;
    font-family: "Courier";
	}
}

